<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!-- <script type="text/javascript" src="h.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='h.js') }}"></script>

</head>
<body>
    <input type="hidden" id="mypid" name="mypid" value="{{pid}}">
    <div id='fetcher'></div>
    <div id='entry'>
        <input type="text" id="textbx" value="" name="txt" />
        <input type="button" id="mybutton" value="" name="" />
    </div>
</body>
